/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */
:root {
  --box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  --button-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  --main-color-1: #73C3F4;
  --main-color-1-lighter: #B1E2FF;
  --main-color-2-lighter: #FFB7F0  ;
  --main-color-2: #DD71C6; 
  --secondary-color-3: #FFD900;
  --text-color: #333333;
  --text-color-light: #ffffff;
  --text-color-deco-1: #0083D3;
  --text-color-deco-2: #DD71C6;
  --text-color-deco-3: #c4c4c4;
  --bg-color-higlight: #F9F9F9;
  --bg-color: #FFFFFF;
}

/* Text */
body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333333;
}

h1,h2,h3,h4{
  font-family: "Libre Baskerville", serif;
}

h1{
  display: none;
}

h2{
font-size: 2rem;
font-weight: 400;
line-height: 1.6em;
}

h3{
  font-size: 24px;
  font-weight: 400;
  line-height: 1.725em;
}

p{
    font-size: 18px;
    line-height: 1.42em;
}


/* Buttons */


  button{
    box-shadow: var(--button-shadow);
      background-color: var(--main-color-2);
      padding-block: 10px;
      padding-inline: 1.6rem;
      border: none;
      color: var(--text-color-light);
      font-weight: 600;
      font-size: 1rem;
      max-width: fit-content;
      max-height: 40px;
      cursor: pointer;
      transition: all .3s ease;
    }

  button:hover{
    filter: brightness(95%);
  }

  button:active{
    filter: brightness(105%);

  }

  .button-alternative{
    background-color: var(--secondary-color-3);
    margin-top: 3rem;
    margin: auto;
  }

  .see-more-button{
    width: 2rem;
    height: 2rem;
    background-image: url(../images/see-more-icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
  }

  .see-more-button span{
    display: none;
  }



/* Counter */
.counter-list .counter-item{
  display: block;
  background-color: var(--bg-color);
  height: 264px;
  width: 40%;
  border-radius: 20px;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background-repeat: no-repeat;
  background-position: center top 10%;
  padding-inline:1rem;
  flex: 1;
  box-shadow: var(--box-shadow);
}
  
.counter-number{
  font-size: 40px;
}

.counter-number span{
  color: var(--text-color-deco-3);
  margin-inline: 1rem;
}

.counter-label{
  font-size: 18px;
  text-align: center;
}

.counter-item:first-child{
  background-image: url(../images/briefcase.svg);
}

.counter-item:nth-child(2){
  background-image: url(../images/smile.svg);
}

.counter-item:nth-child(3){
  background-image: url(../images/message-icon.svg);
}

.counter-item:nth-child(4){
  background-image: url(../images/activity-icon.svg);
}

/* Info Box */
.info-box{
/*   min-width: 447px; */
  min-height: 391px;
  width: 60%;
  padding-block: 1.75rem;
  padding-inline: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--bg-color);
}

.info-box h3{
  text-align: center;
  display: block;
  padding-bottom: 2.4rem;
  margin-inline: 2rem;
  margin-bottom: 2.4rem;
}

.info-box ul{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-inline: 1.5rem;
}

.info-box ul li::marker{
  font-size: 14px;
}

.info-box ul li span{
  font-size: 1rem;
  line-height: 1.725rem;
  padding-left: .3rem;
}

/* FAQs */
.faq-container{
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  width: 100%;
}

.faq-item{
width: 100%;
background-color: var(--bg-color-higlight);
cursor: pointer;
transition: all 0.5s ease;
border-radius: 1.25rem;
}

.faq-item:hover{
background-color: var(--text-color-deco-3);
}

.faq-item .question-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-block: 1.1rem;
  padding-inline: 1.25rem;
  transition: all 0.5s ease;
}

.faq-item h3{
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.725rem;
}

.faq-item .dropdown-content{
  display: none;
  border-radius:  0px 0px 1.25rem 1.25rem;

}

.faq-item.active .dropdown-content {
  display: block;
  transition: all 0.5s ease;
  background-color: var(--bg-color-higlight);

}

.faq-item.active {
 background-color: var(--bg-color-higlight);
}

.faq-item.active .question-container{
/*   border: 1px solid var(--main-color-2);
 */  background-color: var(--text-color-deco-3);
/*  border-radius: 1.25rem 1.25rem  0px 0px ;
 */
}

.faq-item.active .question-container h3{
  font-weight: 600;
}

.faq-item.active .see-more-button{
  background-image: url("../images/see-less-icon.svg");
  background-size: 60%;
}

/* .faq-item.active .see-more-button::before {
  content: "";
  color: var(--text-color-deco-2);
  font-weight: 800;
} */


.faq-item p{
  font-size: 1rem;
  background-color: var(--bg-color);
  padding: 1rem;
}

.question-container button {
  box-shadow: none;
}


/* Social network icons */
.social-network li span{
  display: none;
}

.social-network li{
  min-width: 30px;
  min-height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-network li:first-child{
  background-image: url(../images/ig-icon.svg);
}

.social-network li:nth-child(2){
  background-image: url(../images/twitter-icon.svg);
}

.social-network li:last-child{
  background-image: url(../images/fb-icon.svg);
}

